<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AndroidGETMethod</servlet-name>
        <servlet-class>com.android.get.AndroidGETMethod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidPOSTMethod</servlet-name>
        <servlet-class>com.android.get.AndroidPOSTMethod</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidJSONMethod</servlet-name>
        <servlet-class>com.android.get.AndroidJSONMethod</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AndroidGETMethod</servlet-name>
        <url-pattern>/AndroidGETMethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidPOSTMethod</servlet-name>
        <url-pattern>/AndroidPOSTMethod</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidJSONMethod</servlet-name>
        <url-pattern>/AndroidJSONMethod</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
